# Filtering Data With Pandas

In [ ]:
import numpy as np
from utils.dataset_loader import load_whale_dataset
%autosave 30

## Exercise 1: Indexing Into Data Frames

---

You will now use Pandas to filter the whales dataset.

*HINT: For some queries you might need to chain two filtering operations and create a temporary data frame.*

In [ ]:
whale_df = load_whale_dataset()

### Question 1.0

Before you begin, use `df.describe()` and `df.head()` to familiarize yourself with the `whale_df` dataset.

### Question 1.1

Select all the whales of type 'orca' from the dataset.

In [ ]:
all_orcas = ...

### Question 1.2

Select the age of the first `male` whale in the dataset.

In [ ]:
age_first_male = ...

### Question 1.3

Extract a DataFrame with all humpback whales.

In [ ]:
humpback_whales_df = ...

### Question 1.4

Using humpback_whales_df, find out how many whales there are of type 'humpback'

In [ ]:
number_of_humpback_whales = ...

### Question 1.5

Using humpback_whales_df, find out how many 'humpback' whales older than '30' there are.
This motivates the next slide (chaining operations)

In [ ]:
number_of_humpback_whales_older_than_30 = ...

#### Run these cells after finishing the exercise questions to check your answers.

In [ ]:
assert all_orcas.shape == (3900, 5), f"Wrong shape of all_orcas - {all_orcas.shape}!"

In [ ]:
assert age_first_male == 21, f"Wrong age of first male whale - {age_first_male}!"

In [ ]:
assert humpback_whales_df.shape == (2318, 5), \
    f"Wrong shape of humpback whale sub-dataset - {humpback_whales_df.shape}!"

In [ ]:
assert number_of_humpback_whales == 2318, \
    f"Wrong number of humpback whales - {number_of_humpback_whales}!"

In [ ]:
assert number_of_humpback_whales_older_than_30 == 1414, \
    f"Wrong number of humpback whales older than 30 - {number_of_humpback_whales_older_than_30}!"