# Combining Data With Pandas

This notebook contains exercises for 'Combining Data With Pandas'.

<!-- **At the end of each exercise there are cells containing assert statements that you can use to check your answers.** -->

In [ ]:
import pandas as pd
import numpy as np
%autosave 30

## Exercise 1: Dataset Exploration and Combining Records

---

In this exercise you will be working with a dataset of movies that is in three parts.

The code below loads each part of the dataset.

In [ ]:
movies_df_pt1 = pd.read_csv('../data/movies_dataset/movies_pt1.csv', index_col=0)
movies_df_pt2 = pd.read_csv('../data/movies_dataset/movies_pt2.csv', index_col=0)
movies_df_pt3 = pd.read_csv('../data/movies_dataset/movies_pt3.csv', index_col=0)

### Question 1.0

Before you begin, use `df.describe()` and `df.head()` to familiarize yourself with the dataset. All three parts have the same columns.

* From the first few rows, do you notice any ways in which this dataset is not clean?
* Select the movie with `id` equal to `12600` from `movies_df_pt1`. What do you notice (no need to fix it for now)?

In [ ]:
...

In [ ]:
...

In [ ]:
...

### Question 1.1

Using `pd.concat`, combine all three parts of the movies dataset into `all_movies_df`.

Make sure the resulting dataset has an index from `0` to `all_movies_df.shape[0] - 1`.

In [ ]:
all_movies_df = ...

In [ ]:
assert all_movies_df.shape == (
    movies_df_pt1.shape[0] + movies_df_pt2.shape[0] + movies_df_pt3.shape[0],
    movies_df_pt1.shape[1]
)