# Combining Data With Pandas

This notebook contains exercises for 'Combining Data With Pandas'.

<!-- **At the end of each exercise there are cells containing assert statements that you can use to check your answers.** -->

In [ ]:
import pandas as pd
import numpy as np
%autosave 30

## Exercise 1: Combining Records

---

In this exercise you will be working with a dataset of artists.

In [ ]:
eu_artists_df = pd.read_csv('../data/album_sales/eu_artists.csv', index_col=0)
us_artists_df = pd.read_csv('../data/album_sales/us_artists.csv', index_col=0)

### Question 1.0

Before you begin, use `df.describe()` and `df.head()` to familiarize yourself with the `eu_artists_df` and `us_artists_df` datasets.

In [ ]:
...

### Question 1.1

Using `pd.concat`, combine `eu_artists_df` and `us_artists_df`.

* Do you notice anything wrong (no need to fix it for now)?

In [ ]:
all_artist_df = ...

### Question 1.2

In this exercise you will separate the artist ids for both datasets.

* Create a new column called `eu_artist_id` in `eu_artists_df`.
* Create a new column called `us_artist_id` in `us_artists_df`.
* Concatenate the datasets without the `artist_id` column.

* What do you notice about the new `DataFrame`?

In [ ]:
all_artist_df = ...

### Question 1.3

The `all_artists_df` dataframe contains missing values.

* Think about what would happen if you called `.dropna()` on it.
* Call `.dropna()` on the `DataFrame`. Were you right?

In [ ]:
...