# Split-Apply-Combine - Part 1 - Data Exploration and Aggregation

This notebook contains exercises for 'Split-Applt-Combine'.

<!-- **At the end of each exercise there are cells containing assert statements that you can use to check your answers.** -->

In [ ]:
import pandas as pd
import numpy as np
%autosave 30

## Exercise 1: Grouping Data

---

In this exercise you will be working with a dataset of artists, albums and sales.

### Question 1.0

Run the cell below to load the three datasets.

Before you continue, use `DataFrame.describe()` and/or `DataFrame.head()` to familiarize yourself with the `artists_df`, `albums_df`, `sales_df` and `vendors_df` datasets.

In [ ]:
artists_df = pd.read_csv('../data/album_sales/artists.csv', index_col=0)
albums_df = pd.read_csv('../data/album_sales/albums.csv', index_col=0)
sales_df = pd.read_csv('../data/album_sales/sales.csv', index_col=0)
vendors_df = pd.read_csv('../data/album_sales/vendors.csv', index_col=0)

In [ ]:
# Your code goes here

### Question 1.1

Group all albums by genre and assign the result to `albums_by_genre`.

In [ ]:
albums_by_genre = ...

### Question 1.2

Using `albums_by_genre`, extract the names of the groups (the genres) and assign it to `all_genres`.

_HINT_: What kind of object is `albums_by_genre.groups`?

_NOTE:_ Using `pd.unique` on the `genre` columns does the same and you should use that in production. This is what the `assert` statement uses.

In [ ]:
all_genres = ...

In [ ]:
assert sorted(all_genres) == sorted(pd.unique(albums_df['genre'])), (
    f"all_genres does not contain all genres - {all_genres}!"
)

### Question 1.3

* Group all albums by `collaborator_id`.
* For each group, print the group's name and the content of the group (the `DataFrame`).
* Is any data excluded?
* [Optional] Can you find (and use) an extra parameter for `groupby` that would include all albums? 

_HINT:_ You can use the Jupyter function `display(df: DataFrame)` to pretty-print a `DataFrame` in the notebook (display it as an HTML object).
_HINT 2:_ You can use `help(albums_df.groupby)` to find all the parameters `groupby` takes.

In [ ]:
albums_by_collab = ..

## Exercise 2: Aggregation Functions

---

### Question 2.1

* Group all sales by album id.
* Use `sum` to aggregate all columns.
* Can you explain what happens to the `date` column?

_HINT:_ What is the type of objects in the `date` column? What happens when you sum two or more objects of that type?

In [ ]:
sales_by_album = ...

### Question 2.2

For each album, compute the total revenue (sum of amount) from `sales_df` and assign the result to `total_revenue_by_album_s`.

The result should have a single column.

In [ ]:
total_revenue_by_album_s = ...

### Question 2.3

* Use `describe` on sales grouped by `album_id`. Assign the result to `sales_by_album_describe`.
* From `sales_by_album_describe`, select the `min` sale amount for all albums.

In [ ]:
sales_by_album_describe = ...

### [Optional] Question 2.4

Extract the vendor name for the vendor with most sales.

* Group `sales_df` by `vendor_id` and aggregate by summing `amount`.
* Use `idxmax` to extract the `vendor_id` of the vendor with most sales.
* Extract the name of the vendor from `vendors_df`.

In [ ]:
sales_stats_by_vendor = ...